# Database
db.sqlite3
db.sqlite3-journal

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
ENV/
.venv/

# Environment variables
.env
.env.*

# IDE
.vscode/
.idea/
.DS_Store
*.swp
*.swo

# Migrations Cache
**/migrations/__pycache__/

# Django
media/
staticfiles/
*.log

