<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Google Image Search</title>
   <link rel="stylesheet" href="../static/style.css">
</head>

<body>
   <nav>
      <div>
         <a href="index.html">Google Search</a>
         <a href="advanced.html">Advance Search</a>
      </div>
   </nav>

   <main>
      <section class="logo">
         <img src="../media/google.png" alt="Google"><sub id="foot">Images</sub>
      </section>

      <form action="https://www.google.com/search" method="GET">
         <input type="hidden" name="tbm" value="isch">
         <input type="text" name="q" class="src-bar" autocomplete="off">
         <div class="button-group">
            <input class="btn" type="submit" value="Google Search">
            <input class="btn" name="btnI" type="submit" value="I'm Feeling Lucky">
         </div>
      </form>
</body>

</html>