<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Google Search</title>
   <link rel="stylesheet" href="../static/style.css">
</head>

<body>
   <nav>
      <div>
         <a href="advanced.html">Advance Search</a>
         <a href="image.html">Image Search</a>
      </div>
   </nav>

   <main id="main">
      <section class="logo">
         <img src="../media/google.png" alt="Google">
      </section>

      <form action="https://www.google.com/search" method="GET">
         <input type="text" name="q" autocomplete="off" class="src-bar">
         <div class="button-group">
            <input class="btn" type="submit" value="Google Search">
            <input class="btn" name="btnI" type="submit" value="I'm Feeling Lucky">
         </div>
      </form>

   </main>
</body>

</html>