{% extends "network/layout.html" %}

{% block body %}

   <!-- <a href="{% url 'new_post' %}" class="button-link">New Post</a>

   <div id="all_posts">
      <h2>All Posts:</h2>
      {% for post in posts %}
         <div class="post">
            <h4 class="post_content">{{post.user}}</h4>
            <h6 class="post_content">{{post.content}}</h6>
            <p class="card-text text-muted small post_content">{{post.date}}</p>
         </div>
      {% endfor %}
   </div> -->

   <div id="all_posts">
   <!-- Flex wrapper to align heading and button -->
   <div class="header-container">
      <h2>All Posts:</h2>
      <a href="{% url 'new_post' %}" class="button-link">New Post</a>
   </div>

   {% for post in posts %}
      <div class="post">
         <h4 class="post_content">{{post.user}}</h4>
         <h6 class="post_content">{{post.content}}</h6>
         <p class="card-text text-muted small post_content">{{post.date}}</p>
      </div>
   {% endfor %}
</div>


{% endblock %}