{% extends "network/layout.html" %}

{% block body %}

	<h3>{{ user_profile.username }}</h3>

	{% if user.is_authenticated %}
		{% if user != user_profile %}
		    {% if isFollowing %}
		    	<form action="{% url 'follow' %}" method="post">
			    {% csrf_token %}
			    <button class="follow">Follow</button>
			</form>
		    {% else %}
		    	<form action="{% url 'unfollow' %}" method="post">
			    {% csrf_token %}
			    <button class="follow">Unfollow</button>
			</form>
	 	    {% endif %}
		{% endif %}
	{% endif %}

	{% for post in posts %}
		<div class="post">
			<h4 class="post_content"><a href="{% url 'profile' post.user.id %}">{{post.user}}</a></h4>
			<h6 class="post_content">{{post.content}}</h6>
			<p class="card-text text-muted small post_content">{{post.date}}</p>
		</div>
	{% endfor %}

{% endblock %}
